<!DOCTYPE HTML>

<html lang="en">
<head>
  <title>IVIMockup</title>
  <meta charset="UTF-8">

  <link href="{{ STATIC_URL }}main.css" rel="stylesheet" type="text/css"/>
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <p><strong>IVI: </strong>Inquire Visualize Innovate</p>
    </div>
    <div id="leftMenu">
      <form action="/contact/" method="post">{% csrf_token %}
		{{ form }}
		<input type="submit" value="Submit" />
      </form>
    </div>

    <div id="content">
      <div id="tabs">
        <p>Results Table Viz Help</p>
      </div>

      <div id="results">
        <p>Before a search is run, this area will contain introductory text and instructions on how to use the search feature and what to expect. Tabs above will allow the user to toggle between results in three formats: a Google-style list of ranked results, with each result linking to a syllubus; a table, displaying the presence or absence of the query elements in each relevant syllabus, also linked out of the actual documents; and an interactive visualization. The fourth will open the applications help feature</p>
      </div>
    </div>

    <div id="footer">
      The IVI PROJECT
    </div>
  </div>
</body>
</html>
